---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-hicpp-named-parameter,-readability-named-parameter,-misc-non-private-member-variables-in-classes'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none


